# Replace placeholders. Project id: run `gcloud projects list` (column "PROJECT_ID").
GCP_PROJECT=REPLACE_WITH_PROJECT_ID
GCP_REGION=us-central1
IMAGE_NAME=aipa-code-server
SERVICE_NAME=aipa-code-server
PASSWORD=REPLACE_WITH_STRONG_PASSWORD
TRUSTED_ORIGINS=aipa.castalia.institute,inquiryinstitute.github.io
# GIT_REPO_URL=https://github.com/org/repo.git
# GIT_REF=main
# GIT_TOKEN=ghp_...
